:root {
  --bg-color: #06141b;
  --bg0-color: #11212d;
  --bg1-color: #253745;
  --fg-color: #4a5c5a;
  --fg2-color: #9ba8ab;
  --fg3-color: #ccd0cf;
  --blue-color: #0051ff;
  --purple-color: #5603bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: var(--bg-color);
}

.mainContainer {
  position: relative;
  width: 500px;
  height: 300px;

  &::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(
      145deg,
      var(--blue-color),
      var(--purple-color) 70%
    );
    border-radius: 20px;
    filter: blur(1px);
  }
}

.div1 {
  position: absolute;
  inset: 0px -10px;
  width: 140px;
  height: 140px;

  &:before {
    content: "";
    inset: 0;
    position: absolute;
    border-radius: 20px;
    background: var(--blue-color);
    filter: blur(1px);
  }
}
.div2 {
  position: relative;
  inset: 160px 372px;
  width: 140px;
  height: 140px;

  &:before {
    content: "";
    inset: 0;
    position: absolute;
    border-radius: 20px;
    background: var(--purple-color);
    filter: blur(1px);
  }
}
.div3 {
  position: absolute;
  inset: 8px;
  background: #06141b;
  border-radius: 20px;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .mainContainer {
    position: relative;
    width: 300px;
    height: 200px;
    &:after {
      content: "";
      position: absolute;
      inset: 0px;
      background: linear-gradient(
        145deg,
        var(--blue-color),
        var(--purple-color) 70%
      );
      border-radius: 20px;
      filter: blur(5px);
    }
  }
}
