:root {
  --bg-color: #06141b;
  --bg0-color: #11212d;
  --bg1-color: #253745;
  --fg-color: #6aa9e9;
  --fg2-color: #9ba8ab;
  --fg3-color: #ccd0cf;
  --blue-color: #0051ff;
  --purple-color: #5603bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url(/img/background.jpg);
}
main {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}
main::before {
  content: "";
  position: absolute;
  inset: 0px;
  background: var(--bg-color);
  filter: opacity(0.95);
  
}

.main__container {
  position: relative;
  width: 500px;
  height: 300px;

  &:after {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(
      145deg,
      var(--blue-color),
      var(--purple-color) 70%
    );
    border-radius: 20px;
    filter: blur(1px);
  }
}

.box--left {
  position: absolute;
  width: 140px;
  height: 140px;

  &:before {
    content: "";
    inset: 0px -10px;
    position: absolute;
    border-radius: 20px;
    background: var(--blue-color);
    filter: blur(1px);
  }
}
.box--right {
  position: absolute;
  inset: 160px 372px;
  width: 140px;
  height: 140px;

  &:before {
    content: "";
    inset: 0;
    position: absolute;
    border-radius: 20px;
    background: var(--purple-color);
    filter: blur(1px);
  }
}

.option__container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  inset: 5px 5px 260px 5px;
  z-index: 1;
  border-radius: 20px 20px 5px 5px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
  margin-left: 20px;
}

.input__toggle {
  opacity: 0;
}

.switch__toggle {
  position: absolute;
  inset: 0px;
  background: var(--blue-color);
  border-radius: 5px;
  opacity: 0.5;
  transition: 0.5s;
  &:before {
    content: "";
    position: absolute;
    height: 21px;
    width: 21px;
    left: 2px;
    top: 2px;
    border-radius: 5px;
    background: var(--bg-color);
    transition: 0.5s;
  }
}
.switch__toggle:hover {
  opacity: 0.9;
}
.input__toggle:checked + .switch__toggle::before {
  transform: translateX(15px);
}

.title--modo {
  position: absolute;
  color: var(--fg2-color);
  inset: 0px;
  left: 80px;
  top: 3px;
}

.btn--clean {
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  background: var(--purple-color);
  text-align: center;
  height: 25px;
  width: 60px;
  border: none;
  border-radius: 5px;
  color: var(--fg2-color);
  opacity: 0.5;
  transition: 0.5s;
}

.btn--clean:hover {
  color: var(--fg3-color);
  opacity: 0.9;
}

.text__container {
  position: absolute;
  inset: 41px 5px 41px 5px;
  background: var(--bg-color);
  z-index: 1;
}

#text__box {
  font-size: 16px;
  position: absolute;
  box-sizing: border-box;
  height: calc(218px - 22px);
  margin: 11px 8px;
  padding: 5px;
  outline: none;
  scrollbar-width: none;
  resize: none;
  border: none;
  background: transparent;
  color: var(--fg-color);
}
.status__container {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  inset: 260px 5px 5px 5px;
  background: var(--bg-color);
  border-radius: 5px 5px 20px 20px;
  z-index: 1;
}
.cursor--position {
  display: flex;
}

.cursor--position span {
  display: flex;
  font-size: 11px;
  align-items: center;
  justify-content: center;
  color: var(--fg3-color);
}

.box__label,
.box__input--col,
.box__input--lin {
  width: 35px;
  height: 20px;
  margin-right: 12px;
  border-radius: 5px;
  background: var(--blue-color);
  opacity: 0.7;
}

.svg--notification {
  float: right;
  background: linear-gradient(var(--purple-color), var(--blue-color));
  border-radius: 5px;
  fill: var;
  opacity: 0.5;
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .mainContainer {
    position: relative;
    width: 300px;
    height: 200px;
    &:after {
      content: "";
      position: absolute;
      inset: 0px;
      background: linear-gradient(
        145deg,
        var(--blue-color),
        var(--purple-color) 70%
      );
      border-radius: 20px;
      filter: blur(5px);
    }
  }
}
